.retry-quit {
  width: 10rem;
  margin-left: 1.5rem;
  @include ipad {
    width: 100%;
    margin-left: 0;
    margin-top: 2rem;
  }
  @include iphone6 {
    margin-top: 1rem;
  }
  button {
    width: 100%;
    line-height: 6rem;
    text-align: center;
    font-size: 1.5rem;
    color: $text-color;
    background-color: $light-bg-color;
    border-radius: $border-round;
    cursor: pointer;
    @include ipad {
      display: block;
      line-height: 3rem;
      padding: 0.5rem;
    }
    @include iphone6 {
      line-height: 1.8rem;
      font-size: 1rem;
    }
    &:hover {
      background-color: $btn-hover-bg-color;
    }
  }
  .quit {
    line-height: 6rem;
    text-align: center;
    font-size: 1.5rem;
    background-color: $light-bg-color;
    border-radius: $border-round;
    cursor: pointer;
    @include ipad {
      display: block;
      line-height: 3rem;
    }
    @include iphone6 {
      line-height: 1.8rem;
    }
  }
}
